@using System.Collections.Generic
@using TP.Core

<h2></h2>

@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

@*<input type="text" name="username" id="username" />
<input type="password" name="password" id="password" />
<button id="loginButton" onclick="checkUser()">Login</button>
<a href="/Home/Register">Register</a>
<text id="cannotLogin"></text>*@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        Welcome Tritter
    </title>
    <link rel="icon" type="image/png" href="~/Content/assets/app/media/img/favicon.png" sizes="96x96" />

    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="~/Content/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
</head>

<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
            <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
                <div class="m-stack m-stack--hor m-stack--desktop">
                    <div class="m-stack__item m-stack__item--fluid">
                        <div class="m-login__wrapper">
                            <div class="m-login__logo">
                                <a href="#">
                                    <img src="~/Content/assets/app/media/img/logos/logo-2.png">
                                </a>
                            </div>
                            <div class="m-login__signin">
                                <div class="m-login__head">
                                    <h3 class="font-green-turquoise m-login__title">
                                        Giriş Yap
                                    </h3>
                                </div>
                                <form class="m-login__form m-form">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="Email" name="username" autocomplete="off" id="username">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Şifre" name="password" id="password">
                                    </div>
                                    <div class="row m-login__form-sub">
                                        <div class="col m--align-left">
                                            <label class="m-checkbox m-checkbox--focus">
                                                <input type="checkbox" name="remember">
                                                Beni Hatırla
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col m--align-right">
                                            <a href="javascript:;" id="m_login_forget_password" class="m-link">
                                                Sifreni mi Unuttun ?
                                            </a>
                                        </div>
                                    </div>
                                    <div class="m-login__form-action">
                                        <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" onclick="checkUser()">
                                            Giriş Yap
                                        </button>
                                        <a class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" href="/Home/Register">Kayıt Ol</a>
                                    </div>
                                </form>
                            </div>
                            <div class="m-login__signup">
                                <div class="m-login__head">
                                    <h3 class="m-login__title">
                                        Kaydol
                                    </h3>
                                    <div class="m-login__desc">
                                        Hesap Oluşturmak İçin Bilgilerinizi Giriniz:
                                    </div>
                                </div>
                                <form class="m-login__form m-form" action="">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="İsim" name="name">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="Soyisim" name="surname">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="Email" name="email" autocomplete="off">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="password" placeholder="Şifre" name="password">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Şifre Tekrar" name="rpassword">
                                    </div>
                                    <div class="row form-group m-form__group m-login__form-sub">
                                        <div class="col m--align-left">
                                            <label class="m-checkbox m-checkbox--focus">
                                                <input type="checkbox" name="agree">
                                                <a href="#" class="m-link m-link--focus">
                                                    Kullanım Koşullarını
                                                </a>
                                                Okudum ve Kabul Ediyorum
                                                .
                                                <span></span>
                                            </label>
                                            <span class="m-form__help"></span>
                                        </div>
                                    </div>
                                    <div class="m-login__form-action">
                                        <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                            Kaydol
                                        </button>
                                        <button id="m_login_signup_cancel" class="btn btn-outline-focus  m-btn m-btn--pill m-btn--custom">
                                            İptal
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="m-login__forget-password">
                                <div class="m-login__head">
                                    <h3 class="m-login__title">
                                        Şifreni mi Unuttun ?
                                    </h3>
                                    <div class="m-login__desc">
                                        Şifreni Sıfırlamak İçin Lütfen Email Adresini Gir:
                                    </div>
                                </div>
                                <form class="m-login__form m-form" action="">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
                                    </div>
                                    <div class="m-login__form-action">
                                        <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                            Gönder
                                        </button>
                                        <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">
                                            İptal
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(/Content/assets/app/media/img/bg/bg-4.jpg)">
                <div class="m-grid__item m-grid__item--middle">
                    <h3 class="m-login__welcome">
                        Tritter'a Hoşgeldin
                    </h3>
                    <p class="m-login__msg">
                        Sansürsüz, özgür, sosyal medya
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/Content/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Base Scripts -->
    <!--begin::Page Snippets -->
    <script src="~/Content/assets/snippets/custom/pages/user/login.js" type="text/javascript"></script>
</body>
</html>

<script>
    function checkUser() {
        var username = $("#username").val();
        var password = $("#password").val();


        TP.Customer.CheckUserLogin(username, password);

    }
</script>

